version: "3"
services:
  scratchpad-api:
    build:
      context: .
      dockerfile: DOCKERFILE
    image: "scratchpad:0.4"
    # in recent docker-compose version you can enable GPU resources. Make sure to fulfill the prerequisites listed here: https://docs.docker.com/compose/gpu-support/
    deploy:
      resources:
        reservations:
          devices:
          - driver: nvidia
            count: 1
            capabilities: [gpu]
    # # Mount custom Pipeline YAML and custom Components.
    # volumes:
    #   - ./rest_api/pipeline:/home/user/rest_api/pipeline
    ports:
      - 8000:8000
    restart: on-failure
    environment:
      - ELASTICSEARCH_HOSTS=elasticsearch
      - cluster.name=docker-cluster
    depends_on:
      - elasticsearch
    command: "/bin/bash -c 'sleep 10 && gunicorn scratchpad.app.main:app -b 0.0.0.0 -k uvicorn.workers.UvicornWorker --workers 1 --timeout 180'"

  elasticsearch:
    # This will start an empty elasticsearch instance (so you have to add your documents yourself)
    image: "elasticsearch:7.9.2"
    container_name: elasticsearch
    ports:
      - 9200:9200
    restart: on-failure
    environment:
      - discovery.type=single-node
