.container-center-horizontal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    pointer-events: none;
    width: 100%;
  }

.text-wrapper{
    border: solid 2px #c1d6f3; padding: 6px 6px 6px 6px;
}

.img-wrapper{
    margin-right: 10px;
}